<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login_servlet</servlet-name>
        <servlet-class>za.ac.tut.model.login_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_Client</servlet-name>
        <servlet-class>za.ac.tut.model.Register_Client</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register_driver</servlet-name>
        <servlet-class>za.ac.tut.model.Register_driver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendPackageServlet</servlet-name>
        <servlet-class>za.ac.tut.model.SendPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.model.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>under</servlet-name>
        <servlet-class>za.ac.tut.model.under</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DriverJobs</servlet-name>
        <servlet-class>za.ac.tut.model.DriverJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllJobs</servlet-name>
        <servlet-class>za.ac.tut.model.showAllJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeJob</servlet-name>
        <servlet-class>za.ac.tut.model.TakeJob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobStatusUpdate</servlet-name>
        <servlet-class>za.ac.tut.model.JobStatusUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllJobs</servlet-name>
        <servlet-class>za.ac.tut.model.GetAllJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CashPayment</servlet-name>
        <servlet-class>za.ac.tut.model.CashPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrackPackageServlet</servlet-name>
        <servlet-class>za.ac.tut.model.TrackPackageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enquiriesHistoryServlet</servlet-name>
        <servlet-class>za.ac.tut.model.enquiriesHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>za.ac.tut.model.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateJobs</servlet-name>
        <servlet-class>za.ac.tut.model.AllocateJobs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPackageDetailsServlet</servlet-name>
        <servlet-class>za.ac.tut.model.EditPackageDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MergeServlet</servlet-name>
        <servlet-class>za.ac.tut.model.MergeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveOrdersServlet</servlet-name>
        <servlet-class>za.ac.tut.model.ApproveOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusOrdersServlet</servlet-name>
        <servlet-class>za.ac.tut.model.StatusOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserDetails</servlet-name>
        <servlet-class>za.ac.tut.model.EditUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportsServlet</servlet-name>
        <servlet-class>za.ac.tut.model.GetReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login_servlet</servlet-name>
        <url-pattern>/login_servlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_Client</servlet-name>
        <url-pattern>/Register_Client.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register_driver</servlet-name>
        <url-pattern>/Register_driver.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendPackageServlet</servlet-name>
        <url-pattern>/SendPackageServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>under</servlet-name>
        <url-pattern>/under.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DriverJobs</servlet-name>
        <url-pattern>/DriverJobs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllJobs</servlet-name>
        <url-pattern>/showAllJobs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeJob</servlet-name>
        <url-pattern>/TakeJob.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobStatusUpdate</servlet-name>
        <url-pattern>/JobStatusUpdate.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllJobs</servlet-name>
        <url-pattern>/GetAllJobs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CashPayment</servlet-name>
        <url-pattern>/CashPayment.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TrackPackageServlet</servlet-name>
        <url-pattern>/TrackPackageServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enquiriesHistoryServlet</servlet-name>
        <url-pattern>/enquiriesHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/HistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateJobs</servlet-name>
        <url-pattern>/AllocateJobs.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPackageDetailsServlet</servlet-name>
        <url-pattern>/EditPackageDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MergeServlet</servlet-name>
        <url-pattern>/MergeServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveOrdersServlet</servlet-name>
        <url-pattern>/ApproveOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusOrdersServlet</servlet-name>
        <url-pattern>/StatusOrdersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserDetails</servlet-name>
        <url-pattern>/EditUserDetails.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportsServlet</servlet-name>
        <url-pattern>/GetReportsServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>javax.ejb.EJBException</exception-type>
        <location>/ErrorPageEJBException.jsp</location>
    </error-page>
</web-app>
